@model rvsp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  
<link href="/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>RvspForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h1>RVSP</h1></div> 
       <div class="panel-body">

           @using (Html.BeginForm())
           {
               @Html.ValidationSummary()
               <div class="form-control">
                 <p>Imię : @Html.TextBoxFor(x => x.Name) </p>   
                    </div>
                   <div class="form-control"><p> Nzwisko: @Html.TextBoxFor(x => x.Surname)</p></div>
                <div class="form-control"><p>Twój e-mail: @Html.TextBoxFor(x => x.Email)</p></div>
                <div class="form-control"><p>Twój telefon: @Html.TextBoxFor(x => x.Phone)</p></div>
                <div class="form-control">
                    <p>
                        Czy przyjdziesz na przyjęcie?
                        @Html.DropDownListFor(x => x.WillAttend, new[] {
new SelectListItem() {Text = "Tak, przyjdę.", Value = bool.TrueString},
new SelectListItem() {Text = "Nie, nie przyjdę.", Value = bool.FalseString}
}, "Wybierz opcję")

                    </p>
                </div>
                    <input type="submit" value="Wyślij RSVP" />
                    }
                </div>

    </div>
</body>
</html>
